# Java / Maven (API)
**/target/
**/*.class
**/*.jar
.mvn/
mvnw
mvnw.cmd

# Node / React (Frontend)
**/node_modules/
**/dist/
.env
*.local

# Docker & Banco de Dados
mysql_data/
**/.docker/

# IDEs e Sistema
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

**/application-dev.properties
**/application-prod.properties
**/application.properties
.env

### --- Swagger & SpringDoc ---
# Ignora arquivos gerados de documentação estática (se houver)
.openapi/
bin/

### --- Maven Wrapper ---
.maven/
.flattened-pom.xml
**.tag
**.log

### --- Java & IDE ---
.recommenders/
*.class
target/
.metadata/
